.search-bar > input{
    margin: 10px 0;
}

.list-group img{
    width:80px;
}
.list-group-item:hover{
    cursor: pointer;
    background: #efefef;
}
.details{
    padding: 10px;
    font-size: 14px;
    background: #fefefe;
    border-radius: 0px 0 10px 10px;
    border: 1px solid #ddd;
}
.details h6 {
    padding: 5px;
    background: #eee;
    font-size: 14px;
}

.details p {
    margin: 5px;
}
.media-heading {
    font-size: 14px;
}